
li {
	color: white;
	margin-left: 40px;
	font-family: "Verdana";
	font-size: 18px;
}

.main-container {
	background-color: #d5d1d1;
	height: 95vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inner-container {
	margin-top: 40px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 
====== 
Navbar
======
*/
.navbar {
	background-color: black;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-links {
	display: flex;
	flex-direction: row;
}

.link-active {
	text-decoration: underline;
}

/*** ABOUT PAGE ***/
.section-container {
	color: white;
	padding: 50px;
	font-family: "Verdana";
	font-size: 18px;
}
/*** ABOUT PAGE ***/


/*** HOME PAGE ***/
.pokeinfo-container {
	display: flex;
	flex-direction: column;
	background-color: rgba(111, 94, 94, 0.35);
	padding: 0 50px 20px 50px;
}

.pokeinfo-top-container {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.pokeinfo-image-container {
	width: 40%;
	display: flex;
	justify-content: center;
}

.pokeinfo-stats-container {
	display: flex;
	flex-direction: column;
	width: 60%;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
}

.pokeinfo-bottom-container {
	/*background-color: gray;*/
	color: black;
	padding: 20px;
	margin-top: 20px;
	font-family: "Verdana";
}
/*** HOME PAGE ***/

/*** SEARCH ***/
.search-container {
	margin-bottom: 20px;
}

.search-container input {
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
}

/*** SEARCH ***/